/Boots Stores/Boots Stores/obj
/Boots Stores/Boots Stores/bin
/Boots Stores/Boots Stores.Android/Assets
/Boots Stores/Boots Stores.Android/obj
/Boots Stores/Boots Stores.Android/bin
/Boots Stores/Boots Stores.Android/Resources
/Boots Stores/Boots Stores.iOS
